@font-face {
  font-family: "corda";
  src: url(../../../assets/fonts/CordaW01Regular.ttf);
}
.font-corda {
  font-family: "corda";
}

.catalogue {
  border: 2px solid #ffa500;
  border-color: #ffa500;
  font-size: 18px;
  margin: 150px 0px;
  transition: all linear 0.3s;
  
}
.catalogue:hover{
  background: #ffa500;
  border-color: white;
}
